<!DOCTYPE html>
<html>
    <body>
        <div>Welcome to Drug Catalog</div>
        <h2>Add a new drug below:</h2>
        <form action='/' method='post'>
            <input placeholder="Name" name='name'>
            <input placeholder="IUPAC Name" name='iupac_name'>
            <input placeholder="canonical SMILES" name='canonical_smiles'>
            <input placeholder="Molecular Formula" name='molecular_formula'>
            <input placeholder="CAS Number" name='cas_number'>
            <input placeholder="Molecular Weight" name='molecular_weight'>
            <input placeholder="Class" name='class'>
            <input placeholder="Superclass" name='superclass'>
            <input placeholder="Rotable Bond" name='rotable_bond_count'>
            <input placeholder="complexity" name='complexity'>
            <input type="submit" value="Submit">
        </form>

        {% for drug in drugs %}
        <div>
            <h2>{{ drug[1] }}</h2>
            <span><a href="{{ url_for('edit', drug_name=drug_name) }}">Edit Drug</a></span>
            <span>&#124;</span>
            <span><a href="{{ url_for('delete', drug_name=drug_name) }}">Delete Drug</a></span>
            {% for attribute in drug %}
            <p>{{ attribute }}</p>
            {% endfor %} 
        </div>
        {% endfor %}

    </body>
</html>
